@charset "utf-8";

@media screen
and (max-device-width : 479px)
{
	#cosineTopRight{ display:none; }
	#cosinesTriangle{ width:98%; height:98%; }
}

@media screen
and (min-device-width : 480px)
{
	#cosineBottomLeft{ display:none; }
}